#contact {
    background: var(--light-gray);
    border-top: 0.125rem solid #e4e4e4;
    height: 90vh;
    display: flex;
    margin-bottom: 0.6rem;
}

#contact > img {
    position: absolute;
    right: 0;
    height: 60%;
    padding-left: 30%;
}

#contact p {
    color: var(--primary-color);
}

#contact .content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    text-align: center;
    gap: 1.75rem;
}


#contact .content > div {
    width: fit-content;
    align-self: center;
    margin-bottom: 20%;

}

#contact .subtitle {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: -0.5rem;
}

#contact h1 {
    font-size: 2rem;
}

#contact .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min(450px, 100%);
    align-self: center;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 0.85rem 1rem;
    border: 1px solid #d1d1d1;
    border-radius: 0.5rem;
    font-size: 1rem;
}

@media (width >=1280px) {
    #contact {
        background: var(--bg-color);
        border-top: none;

        > span {
            position: absolute;
            top: 0;
        }

        > img {
            top: 0;
            height: 82%;
            padding-left: 55%;
        }

        .content p {
            width: 80%;
            align-self: center;
        }

        .content {
            gap: 2.5rem;
        }

        .content > div :first-child {
            width: 10.625rem;
        }

        .content p:first-of-type {
            color: var(--primary-color);
            font-weight: var(--fw-bold);
        }
    }
}